@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFuturaBold.eot');
    src: url('SFUFuturaBold.eot?#iefix') format('embedded-opentype'),
        url('SFUFuturaBold.woff2') format('woff2'),
        url('SFUFuturaBold.woff') format('woff'),
        url('SFUFuturaBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SFU Futura';
    src: url('SFUFutura.eot');
    src: url('SFUFutura.eot?#iefix') format('embedded-opentype'),
        url('SFUFutura.woff2') format('woff2'),
        url('SFUFutura.woff') format('woff'),
        url('SFUFutura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

