/*
Theme Name: BĐS
Description: This is a child theme for Flatsome Theme
Author: UX Themes
Template: flatsome
Version: 3.0
*/

/*************** ADD CUSTOM CSS HERE.   ***************/
.product-home {
    margin-bottom: 30px;
    padding-left:9.8px;
}
.product-home select{
    width: auto;
    min-width: 200px;
    border-radius: 50px;
    background-color: #E0E0E0;
    color: #333333;
    padding: 0 30px;
    margin-right: 25px;
}
.product-title-home{
    font-size:40px;
    color:#693A2B;
    margin-bottom:16px;
    padding-left:9.8px;
}
.project-title-home {
    font-size:40px;
    color:#693A2B;
    padding-left:9.8px;
    margin-top: 60px;
}
.project-title-home p{
    margin-bottom: 16px;
}

.box-text{
    padding-left: 16px;
    padding-right: 16px;
}
.title-wrapper .product-title{
    min-height: 50px;
    margin-bottom: 30px;
}
.price-wrapper .category::before{
    background-image: url(./icons/bi_building.png);
    background-size: 16px 14px;
    display: inline-block;
    width: 24px;
    height: 14px;
    content: "";
    background-repeat: no-repeat;
}
.box-text a{
    font-size: 18px;
    color: #333333;
    font-weight: 700;
}
.product .product-small.box{
    background: #FFFFFF;
    /* border: 1px solid #693A2B; */
    box-sizing: border-box;
    box-shadow: 0px 2px 20px rgba(105, 58, 43, 0.2)
}
span.price{
    color: #F2994A;
    font-weight: 700;
}
.description-wrapper p::before{
    background-image: url(./icons/location2.png);
    background-size: 16px 14px;
    display: inline-block;
    width: 24px;
    height: 14px;
    content: "";
    background-repeat: no-repeat;
}
.description-wrapper p{
    font-size: 14px;
    margin-top: 15px;
    color: #333333;
}
.price-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-submit {
    align-items: center;
    display: flex;
    justify-content: center;
}
.btn-submit input[type='submit'] {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    background: #693A2B !important;
}
.form-title {
    margin-top: 0;
    text-align: center;
}
.tieu-chi-section {
    margin-top: 50px;
}
.tieu-chi-section .project-title-home {
    margin-top: 50px;
}
.title-home span{
    text-transform: none;
    border: 0;
    padding:0;
}
.title-home h3 {
    font-weight: normal;
    font-size: 40px;
    text-transform: none;
    border: none;
} 
.news-home .from_the_blog_excerpt {
display: none;
}
.news-home .col-inner {
    box-shadow: 0px 2px 20px rgba(105, 58, 43, 0.2);
    background: #FFFFFF;
}
.news-home h5{
    font-size: 18px;
    text-transform: none;
    font-weight: 700;
}
.news-home .box-text-inner{
    min-height: 92px;
}
.tin-tuc-section {
    padding-bottom: 0!important;
}
.tieu-chi-section {
    margin-top: 0;
}
.top-location span{
font-size: 14px;
font-weight: 500;
}
.top-location span::before{
    background-image: url(./icons/location.png);
    background-size: 11px 13px;
    display: inline-block;
    width: 20px;
    height: 13px;
    content: "";
    background-repeat: no-repeat;
}
.top-account span{
    font-size: 14px;
    font-weight: 500;
}
.header-button a::before{
    background-image: url(./icons/phone.png);
    background-size: 16px 15px;
    display: inline-block;
    width: 26px;
    height: 14px;
    content: "";
    background-repeat: no-repeat;
}

.taste-attributes {
    display:flex;margin:0;align-items: center;list-style: none;width: 75%;
    justify-content: space-between;
}
.taste-attributes li {
    padding:0;margin:0 !important
}
.taste-attributes .pa_dien-tich::before{
    background-image: url(./icons/area.png);
    background-size: 10px 10px;
    display: inline-block;
    width: 10px;
    height: 10px;
    content: "";
    background-repeat: no-repeat;
    margin-right: 4px;
}
.price-wrapper .pa_trang-thai {
    display: none;
}
.description-wrapper .pa_dien-tich {
    display: none;
}
.description-wrapper .pa_gia-m2{
    display: none;
}
@media only screen and (max-width: 48em) {
/*************** ADD MOBILE ONLY CSS HERE  ***************/


}

